.comment {
  /* width: 100%; */
  height: auto;
  /* padding: 5px 10px; */
  margin-bottom: 15px;
  border: solid 1px black;
}

.comment:first-child {
  margin-top: 10px;
}

.comment_info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.comment_info_user {
  font-weight: 600;
}

.comment_info_date {
  font-weight: 300;
  font-size: 13px;
  color: gray;
  font-style: italic;
}

.comment_text {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  height: auto;
  white-space: normal;
}

@media only screen and (max-width: 767px) {
  .comment_info {
    flex-direction: column;
    text-align: left;
  }
  .comment_info_date {
    font-size: smaller;
  }

  .comment_info_user {
    font-size: 12px;
  }
}
