.input_comment {
  display: flex;
  justify-content: space-between;
}
.input_comment > input {
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #7c808a;
  outline: none;
}

.input_comment > button {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  padding: 0;
  text-align: center;
  border-radius: 10%;
  border: solid 1px white;
  outline: none;
  cursor: pointer;
}
